body {
  background-color: grey;
  min-height: 100vh;
  text-align: center;
}
.screen {
  background-color: burlywood;
  height: 10vh;
  width: 50vh;
  display: flex;
}
.calc {
  background-color: aqua;
  display: flexbox;

  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  display: flex;
  justify-content: center;
}

.op {
  background-color: aqua;
}
.button {
  display: flex;

  flex-basis: 50vh;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background: #ebe76c;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.op {
  background: #ed7b7b;
}
#equals {
  background: #ed7b7b;
}
#clear {
  background: #ed7b7b;
}
