body {
  background-color: #181818;
  min-height: 100vh;
  text-align: center;
}
.screen {
  background-color: #cae6b2;
  height: 20vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  font-family: "digital-calc-font";
  font-size: 70px;
  justify-content: center;
  align-items: end;
  overflow: hidden;
}

.calc {
  background-color: #f6fab9;
  border: solid;
  border-width: 30px;
  border-radius: 15px;
  border-color: #f6fab9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  display: flex;
  justify-content: center;
}

.op {
  background-color: #8b322c;
}
.button {
  display: flex;

  flex-basis: 50vh;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background: #ffaf45;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.op {
  background: #d74b76;
}
#equals {
  background: #dd5746;
}
#clear {
  background: #dd5746;
}
@font-face {
  font-family: "digital-calc-font";
  src: url("digital-7-font/Digital7-rg1mL.ttf");
}

@media only screen and (max-width: 600px) {
  .button {
    flex-basis: 10vh;
    height: 8vh;
  }
  .screen {
    width: 30vh;
    height: 15vh;
  }
}
